{% extends 'webapp/base.html' %}
{% block title %}Order List{% endblock %}

{% block body %}
{% for order in orders %}
<div class="container">
    <div class="progress mt-3">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="col-md-12 restaurent-title">
        <div class="logo-title" style="border: 0;">
            <h4>{{order.0}} </h4>
            <h3><code><strong>{{order.1}}</strong> - {{order.6}} </code> </h3>
            <h3>The Secret Code is <code><strong>{{order.8}}<hr> </strong> </code> </h3>
        </div>
    </div>
    
    <div class="col-md-12 order-form-grid  wow fadeInLeft">
        <h5>Order Information</h5>
        <div>
            <table class="table table-hover table-bordered">
                <thead class="table-success">
                    <th>
                        Item
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Price
                    </th>
                </thead>
                {% for x in order.2 %}
                <tr>
                    <td>{{x.0}}</td>
                    <td>{{x.1}}</td>
                    <td>&#x20b9;{{x.2}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
   
    <div class="col-md-12 buy" style="display: inline-block; font-size: smaller;">

        <span>Total price:<code> &#x20b9;{{order.3}}</code></span>
        <span style="display: inline;">Order Status:</span>
        {% if order.5 == 1 %}
        <span style="display: inline; color: rgb(12, 12, 189);">Placed</span>
        {% endif %}
        {% if order.5 == 2 %}
        <span style="display: inline; color: crimson;">Acknowledged</span>


        {% endif %}
        {% if order.5 == 3 %}
        <span style="display: inline;">Completed</span>


        {% endif %}
        {% if order.5 == 4 %}
        <span style="display: inline; color: rgb(143, 10, 170);">Delivered</span>
       
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <select name="rating" id="rating">
                <option selected value="" disabled>Choose rating</option>
                <option value=3>Good</option>
                <option value=2>Satisfactory</option>
                <option value=1>Bad</option>
            </select>
            <label>Remark</label>
            <textarea name="remark" rows="2" cols="50">
                                </textarea>
            <input type="hidden" name="orderid" value={{order.4}}>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>
            </div>
        </form>
       

        {% endif %}
        {% if order.5 == 5 %}
        <span style="display: inline; color: red;">Cancelled</span>

        {% endif %}
        </select>


    </div>
  
    <div class="clearfix"></div>


</div>

{% endfor %}
{% endblock %}