{% load static %}
{% block content %}
<!-- Vendor CSS Files -->
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'vendor/quill/quill.snow.css' %}" rel="stylesheet">
<link href="{% static 'vendor/quill/quill.bubble.css' %}" rel="stylesheet">
<link href="{% static 'vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'vendor/simple-datatables/style.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'css/styleadmin.css' %}" rel="stylesheet">
<script src="{% static 'vendor/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/chart.js/chart.min.js' %}"></script>
<script src="{% static 'vendor/echarts/echarts.min.js' %}"></script>
<script src="{% static 'vendor/quill/quill.min.js' %}"></script>
<script src="{% static 'vendor/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'vendor/tinymce/tinymce.min.js' %}"></script>
<script src="{% static 'vendor/php-email-form/validate.js' %}"></script>

<!-- Template Main JS File -->
<script src="{% static 'js/main.js' %}"></script>
<style>
  .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
  }
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
  }
  
  .button4:hover {background-color: #e7e7e7;}
  
  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #555555;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }

  .head {
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(45deg, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
  
  </style>



<div class="container" style = "margin-top:120px">
  <span class="badge bg-white text-success"><i class='fas fa-map-marker' style='color: red'></i></span>
  <h2 class="head">At Parking {{gate}}</h2>

<div class="container" style = "width:120%;">
    <div class="col-md-12">
  
      <div class="row">
          {% for key, value in slot1 %}
          <div class="col" style="padding: 0%;">
          
              <div class="col col-md-3" style="padding: 0%;">
              {% if value == 0 %}
                    <button type="button" class="btn btn-success mb-2">
                    Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>{{key}}</span>
                  </button>
          
                    {% elif value == 2 %}
                    <button type="button" class="btn btn-warning mb-2">
                        Your Car Parked HERE! <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>{{key}}</span>
                      </button>
                    {% else %}
                    <button type="button" class="btn btn-danger mb-2">
                      Parked<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>{{key}}</span>
                      </button>
              {% endif %}
              </div>
          </div>
          {% endfor %}
  
          
      </div>
      <div class="row">
              <button class="btn btn-light">
                  <div class="progress mt-3">
                      <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
              </button>
              <!-- <button class="btn btn-light">
                  <div class="progress mt-3">
                      <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
              </button> -->
      </div>
      <div class="row">
          {% for key, value in slot2 %}
          <div class="col" style="padding: 0%;">
              
              <div class="col col-md-2" style="padding: 0%;">
                  {% if value == 0  %}
                      <button type="button" class="btn btn-success mb-2">
                        Available <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>{{key}}</span>
                        </button>
                     
                          {% elif value == 2 %}
                        <button type="button" class="btn btn-warning mb-2">
                            Your Car Parked HERE! <span class="badge bg-white text-success"><i class="bi bi-star me-1"></i>{{key}}</span>
                          </button>
                          
                          {% else %}
                        <button type="button" class="btn btn-danger mb-2">
                          Parked<span class="badge bg-white text-success"><i class="bi bi-check-circle me-1"></i>{{key}}</span>
                          </button>
                          {%  endif %}
                  </div>
          </div>
          {% endfor %}
  
          
  
      </div>
      
      </div>
    </div>
    <a href="{% url 'food:profile'%}" >
      <button class="button button5">Go Back to Profile</button>
    </a>
    </div>
                               
{% endblock %}